<div class="card">
    <div class="card-body">
        <div class="card-title">
            @bookDescriptionToDisplay.Title
        </div>
        <div class="card-text">
            <b>@bookDescriptionToDisplay.AllAuthorsInOneString</b>
        </div>
        <div class="topright">
            @bookDescriptionToDisplay.PublishDate
        </div>

        @if (@bookDescriptionToDisplay.NumRatings <= 0)
        {
            <div class="bottomright">
                Not Read By Previous Users Yet
            </div>
        }
        else
        {
            <div class="bottomright">
                @bookDescriptionToDisplay.Rating
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public BookDescriptionInventoryDTO bookDescriptionToDisplay { get; set; }
}
